{% extends "layout.html" %}

{% block title %}
    Add Game
{% endblock %}

{% block main %}
<html class="html-manage">
  <head>
    <title>Add Game</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body class="body-manage">
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-basketball-ball fa-6x"></i>
        <h1 class="h1-manage p-3">Add Game</h1>
      </div>
      <form class="form-manage" method= "post">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Enter Details Below</h2>
        </div>
        <div class="info">
          <select class="input-manage" name="Home_team">
              <option class="dropdown-content" value="NULL">Home Team</option>
              {% for team in teams %}
                  <option class="dropdown-content" value="{{team['team_name']}}">{{team['team_name']}}</option>
              {% endfor %}
            </select>
          <select class="input-manage" name="Away_team">
            <option class="dropdown-content" value="NULL">Away Team</option>
            {% for team in teams %}
                <option class="dropdown-content" value="{{team['team_name']}}">{{team['team_name']}}</option>
            {% endfor %}
          </select>
          <select class="input-manage" name="Referee">
            <option class="dropdown-content" value="NULL">Referee</option>
            {% for referee in referees %}
                <option class="dropdown-content" value="{{referee['first_name']}} {{referee['last_name']}}">{{referee['first_name']}} {{referee['last_name']}}</option>
            {% endfor %}
          </select>
          <input class="input-manage" type="text" name="Location" placeholder= "Location"/>
          <input class="input-manage" type="date" name="Date">
          <input class="input-manage" type="text" name="Time" placeholder= "hh:mm (24 hr)"/>
        </div>
        <button class="btn-manage-submit" type="submit">Submit</button>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <i class="p-manage">{{ message }}</i>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </form>
    </div>
  </body>
</html>
{% endblock %}
