{% extends "layout.html" %}

{% block title %}
    Add Player
{% endblock %}

{% block main %}
<html class="html-manage">
  <head>
    <title>Player Registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body class="body-manage">
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1 class="h1-manage">Register for new players</h1>
      </div>
      <form class="form-manage" method= "POST" action="/">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Register here</h2>
        </div>
        <div class="info">
		  <input class="input-manage" type="number" name="Roster_id" placeholder= "Roster ID"/>
		  <input class="input-manage" type="text" name="First_name" placeholder= "First Name"/>
		  <input class="input-manage" type="text" name="Last_name" placeholder= "Last Name"/>
		  <input class="input-manage" type="number" name="Birth_year" placeholder= "Birth Year" />
		  <input class="input-manage" type="email" name="Email" placeholder= "Email" />
		  <input class="input-manage" type="number" name="Phone_num" placeholder= "Phone Number"/>
        </div>
        <div class="checkbox">
          <input type="checkbox" name="checkbox"><span>I agree to the <a>Privacy Policy for UofC Intramurals</a></span>
        </div>
        <button class="btn-manage" type="submit" href="/">Submit</button>
      </form>
    </div>
  </body>
</html>
{% endblock %}
