{% extends "layout.html" %}

{% block title %}
   Edit Game
{% endblock %}

{% block main %}
<html class="html-manage">
  <head>
    <title>Edit Player</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body class="body-manage">
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-basketball-ball fa-6x"></i>
        <h1 class="h1-manage p-3">Edit Player</h1>
      </div>
      <form class="form-manage" method="post">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Select and Edit Player</h2>
        </div>
        <div class="info">
		  <input class="input-manage" style="margin-bottom: 0px" type="text" placeholder="Player's UserID..." name="search">
		  <button class="btn-manage-submit"  type="submit" name="search_player"><i class="fa fa-search"></i> Search Player</button>
		  <input class="input-manage" style="margin-top: 25px" name="Roster_id" placeholder= "Roster ID" readonly/>
		  <input class="input-manage" type="text" name="First_name" placeholder= "First Name"/>
		  <input class="input-manage" type="text" name="Last_name" placeholder= "Last Name"/>
		  <input class="input-manage" type="number" name="Birth_year" placeholder= "Birth Year"/>
		  <input class="input-manage" type="email" name="Email" placeholder= "Email"/>
		  <input class="input-manage" type="number" name="Phone_num" placeholder= "Phone Number"/>
        <button class="btn-manage-submit" type="submit" name ="submit">Update Player's Information</button>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <i class="p-manage">{{ message }}</i>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </form>
    </div>
  </body>
</html>
{% endblock %}