{% extends "layout.html" %}

{% block title %}
    Teams
{% endblock %}

{% block main %}

    <table id="table" class="table">
  <thead>
    <tr>
      <th scope="col">Team Name</th>
      <th scope="col">Roster Size</th>
      <th scope="col">Captain</th>
      <th scope="col"><b>Record</b></th>
    </tr>
  </thead>
  <tbody>
    {%for result in db_result%}
      <tr>
        <td>{{result['team_name']}}</td>
        <td>{{result['roster_size']}}</td>
        <td>{{result['captain_first_name']}} {{result['captain_last_name']}}</td>
        <td>TBD</td>
      </tr>
    {%endfor%}
  </tbody>
</table>

{% endblock main %}