{% extends "layout.html" %}

{% block title %}
    Add Game
{% endblock %}

{% block main %}
<html class="html-manage">
  <head>
    <title>Add Game</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body class="body-manage">
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-basketball-ball fa-6x"></i>
        <h1 class="h1-manage p-3">New Announcement</h1>
      </div>
      <form class="form-manage" method= "post">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Enter Announcement</h2>
        </div>
        <div class="info">
          <input class="input-manage" type="text" name="Title" placeholder= "Title"/>
          <!-- Open text field for time because default bootstrap time was not 24hr format, can change if necessary -->
          <textarea class="input-manage" name="Body" wrap="hard" rows="4" placeholder= "Body"></textarea>
        </div>
        <button class="btn-manage-submit" type="submit">Submit</button>
        <!-- Flash messages to inform user of request status -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <i class="p-manage">{{ message }}</i>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </form>
    </div>
  </body>
</html>
{% endblock %}
