{% extends "layout.html" %}

{% block title %}
    Players
{% endblock %}

{% block main %}

<div class="p-3 text-left">
  <form name="Team" method="post" action="#">
    <select name="Team">
      {% if selection=='' %}
        <option value="NULL"> Select Team</option>
      {% else %}
        <option value="NULL">{{selection}}</option>
      {% endif %}
      {% for team in teams %}
        {% if team['team_name']!=selection %}
          <option value="{{team['team_name']}}">{{team['team_name']}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="Submit">
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Points</th>
      <th scope="col">Assists</th>
      <th scope="col">Rebounds</th>
    </tr>
  </thead>
  <tbody>
    {%for player in players%}
      <tr>
        <td>{{player['first_name']}}</td>
        <td>{{player['last_name']}}</td>
        <td>{{player['points']}}</td>
        <td>{{player['assists']}}</td>
        <td>{{player['rebounds']}}</td>
      </tr>
    {%endfor%}
  </tbody>
</table>

{% endblock %}
