{% extends "layout.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Placeholder</th>
      <th scope="col">Placeholder</th>
      <th scope="col">Placeholder</th>
      <th scope="col">Placeholder</th>
      <th scope="col">Placeholder</th>
      <th scope="col">Placeholder</th>
    </tr>
  </thead>
  <!-- <tbody>
      {% for entry in output %}
    <tr>
      <th scope="row">{{ entry[''] }}</th>
      <td>{{ entry[''] }}</td>
      <td>${{ entry[''] }}</td>
      <td>${{ entry[''] }}</td>
      <td>{{ entry[''] }}</td>
      <td>{{ entry[''] }}</td>
    </tr>
      {% endfor %}

  </tbody> -->
</table>

{% endblock %}
